body {
  background-color: #011627;
}
p {
  color: white;
}

.square {
  width: calc(100% / 10);
  aspect-ratio: 1/1;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dNone {
  display: none;
}
.dNoneGrid {
  display: none;
}
.bgColor {
  background-color: #7fffd4;
}
.bgBlue {
  background-color: #011627;
}
.bgRed {
  background-color: red;
}

.endgame {
  position: absolute;
  top: 50%;
  left: 30%;
  color: red;
  font-size: 80px;
}
